<div class="row">
    <div class="col-md-4">

        <% map_icon = render "helper/icon" , locals: {:icon => "fa-desktop" } %>
        <%= render "helper/button_link" , locals: {:link => users_url, 
                                            :left => map_icon,
                                            :center => "Karte",
                                            :text => "Karten Ansicht" } %>          
    </div>
    <div class="col-md-4">
  
        <% if current_user.admin? %>

            <% list_icon = render "helper/icon" , locals: {:icon => "fa-list" } %>
            <%= render "helper/button_link" , locals: {:link => users_url, 
                                            :left => list_icon,
                                            :center => "User",
                                            :text => "Übersicht aller User" } %>
    
        <% end %>  
  
  
    </div>
    <div class="col-md-4">
      
                    
        <% mobile_icon = render "helper/icon" , locals: {:icon => "fa-mobile" } %>
        <%= render "helper/button_link" , locals: {:link => root_url, 
                                            :left => mobile_icon,
                                            :center => "Root URL",
                                            :text => "Zurück zum Hauptbildschirm" } %>   
    
    
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        
        <% javascript_body = render "shared/sql_query" %>   
        <%= render "helper/panel" , locals: {:title => "Javascript SQL Query:", :body => javascript_body } %>
    </div>
</div>




<div class="row">
    <div class="col-md-12">
        
        <% if params[:sql_result] != nil %>
            <% sql_result = render "helper/panel" , locals: {:title => "SQL Result:", :body => params[:sql_result] } %>
        <% else %>
            <% sql_result = "" %>
        <% end %>
        
        <%sql_button = form_tag('/static_pages/call_controller_post_method') do %>
            <%= hidden_field_tag 'controller_name', 'StaticPages' %>
            <%= hidden_field_tag 'method_name', 'sql' %>
            <%= text_area_tag :custom, params[:custom], :required => 'required', class: 'form-control', :size =>"25x5" %>
            <div class="btn btn-link">
                <%= submit_tag "Generate Query" %>
            </div>
        <% end %>
        
           
        
        <%= render "helper/panel" , locals: {:title => "Old SQL Query:", :body => sql_button+sql_result } %>
    </div>
</div>
  

<!--  -->